<!-- app/views/conversations/_conversation_status.html.erb -->
<div class="alert alert-info" id="conversation_<%= conversation.id %>">
  Conversation #<%= conversation.id %> is now <%= conversation.status %>.
</div>
