<h1>Your Conversations</h1>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="form-group position-relative" data-controller="search" >
        <input 
          type="text" 
          class="form-control" 
          id="userSearch" 
          placeholder="Search for users..." 
          data-action="keyup->search#query"
        />
        <ul 
          class="list-group position-absolute w-100 mt-1" 
          id="searchResults" 
          data-search-target="results"
          style="z-index: 1000; display: none;"
        >
          <!-- Results will be displayed here -->
        </ul>
      </div>
    </div>
  </div>
</div>