<%= form_with model: post, url: posts_path, local: false, id: "new_post_form" do |f| %>
  <div class="mb-3">
    <%= f.label :content, "Write a new post:", class: "form-label" %>
    <%= f.text_area :content, rows: 3, class: "form-control", placeholder: "What's on your mind?" %>
  </div>
  <div>
    <%= f.submit "Post", class: "btn btn-primary" %>
  </div>
<% end %>
