<!-- app/views/posts/index.html.erb -->

<div class="posts-container">
  <!-- Section to display errors related to likes -->
  <div id="like_errors"></div>

  <h1>Posts</h1>

  <!-- Create New Post Section -->
  <div class="create-post-section">
    <h2>Create a New Post</h2>
    <%= render "posts/form", post: @post %>
  </div>

  <!-- Posts List -->
  <div class="posts-list" id="location-posts">
    <% @posts.each do |post| %>
      <%= render "posts/post", post: post %>
    <% end %>
  </div>

  <!-- "Load More" button (if there are additional pages) -->
  <% if @posts.next_page %>
    <div class="load-more-area" id="posts_load_more" data-controller="load-more">
      <%= link_to "Load More", 
                  posts_path(page: @posts.next_page, format: :turbo_stream), 
                  data: { turbo_frame: "posts", turbo: "false" }, 
                  class: "btn btn-primary", 
                  id: "load-more-button", 
                  aria: { label: "Load more posts" } %>
    </div>
  <% end %>

  <!-- Return to Profile link -->
  <%= link_to "Return to Profile", profile_path,
              class: "btn btn-secondary mt-3", 
              id: "return-to-profile-button" %>
</div>
